
html {
    height: 100%;
}

body {
    height: 100%;
}

.top-box {
    height: 60px;
    padding: 6px;
}

.img-box {
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    max-height: 160px;
    padding: 20px;
    font-size: 14px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44px; 
    max-height: 160px;
    border-radius: 24px 0% 0% 24px;    
    font-size: 16px;
    height: 100%;
    /* width: 100%; */
    padding: 5px 8px 0 14px;

}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

#search-bar {
    height: 44px;
    border: 1px solid grey;
    border-right: 0;
    border-radius: 24px 0% 0% 24px;    
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;

    /* width: auto; */
}

#submit-button {
    height: 48px;
    border: 1px solid grey;
    border-left: 0;
    border-radius: 0% 25px 25px 0%;
    font-size: 16px;
    padding-left: 21px;
    padding-right: 21px;

}